body {
  color: #ccc;
  background: #222;
}

.images .image {
  margin-bottom: 1rem;
}

.drop-zone {
  height: 120px;
  line-height: 120px;
  text-align: center;
  color: #aaa;
  border: 2px dashed #aaa;
  border-radius: .5rem;
}

.drop-zone.drop {
  color: #fff;
  border-color: #fff;
}