{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container my-3">
      <h1>NFT Gallery</h1>
      {% include "images.html" %}
      <h3>Create an NFT image</h3>
      {% include "wallet.html" %}
      {% include "upload.html" %}
  </div>
{% endblock %}

{% block styles %}
  <link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
  <script src="{% static "js/api.js" %}"></script>
  <script src="{% static "js/upload.js" %}"></script>
  <script src="{% static "js/wallet.js" %}"></script>
{% endblock %}
